.btn-primary {
    background-color: #ff6347;
    font-weight: 700 ;

    border: none;
    padding: 18px 35px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


/* Nav styles  */
.open-sans-nav {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 100;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-title {
    flex-grow: 1;
    font-weight: 800;
    font-size: 45px;
}
.mary {
    color: #ff6347;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
.dark-2{
    color: #474747;
}

/* header */

.header-1 {
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

/* Banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0  200px ;
}

.banner-greetings{
 font-size:  45px;
 font-weight: 600;

}
.banner-title {
    font-size: 70px;
    font-weight: 800;
    margin: 10px 0;
}
.banner-pic-1 {
    width: 500px;

}
.banner-discription {
   max-width: 580 px;
}