/* Shared style */
.btn-primary {
    background-color: #ff6347;
    font-weight: 700 ;
    border: none;
    padding: 18px 35px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
.secondary-background {
    background-color: #FFF8F3;
}
/* Nav styles  */
.open-sans-nav {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 100;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-title {
    flex-grow: 1;
    font-weight: 800;
    font-size: 45px;
}
.mary {
    color: #ff6347;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
.dark-2{
    color: #474747;
}
/* header */
.header-1 {
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}
/* Banner styles */
.banner {
    display: flex; ;
    justify-content: space-between;
    margin: 0 35px 0  200px ;
}
.banner-greetings{
 font-size:  45px;
 font-weight: 600;
}
.banner-title {
    font-size: 70px;
    font-weight: 800;
    margin: 10px 0;
}
.banner-pic-1 {
    width: 500px;
}
.banner-dis{
   max-width: 580px;
}
/* about section */
.section-title {
 font-size: 35px;
 font-weight: bold;
 color: #181818;
 text-align: center;
}
.section-dis{
    font-size: 18px;
    color: #757575;
}
.about-item{
    text-align: center;
}
/* about style */
.about{
border-radius: 10px;
}
/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
    margin-bottom: 130px;
}
/* skills section */
.skills-container {
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    border-radius: 10px;
}
/* Resume continer */
.resume-contentr {
    display: flex;
    gap: 24px;
}
.experience-discription {
    color: #757575;
}
.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600 ;
    margin-bottom: 20px;
}
.resume hr{
    margin: 25px 5px;
}
.download-botton{
    text-align: center;
    margin-top: 50px;
}
/* Footer section */
footer{
    display: flex;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.contact input, textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background : #FFF8F3;
}
.contact textarea{
    width: 100%;
    height: 150px;
    resize: none;
}
.social-links a{
    text-decoration: none;
    color: #757575;
    margin-right: 25px;
}